fastapi
uvicorn[standard]
gunicorn
motor
pymongo
python-multipart
pydantic
pydantic-settings
PyMuPDF
spacy
sentence-transformers
numpy
scikit-learn
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.1.0
python-dotenv
Pillow
pytesseract
openai
httpx
python-docx
